:root {
  --overlay-inset: 5em;
  --overlay-inset-mobile: 1rem;
  --overlay-scene-controls-offset: 0px;
  --overlay-scene-controls-offset-mobile: 3em;

  --overlay-ig-story-top-offset: 3.25rem;
  --overlay-ig-story-bottom-offset: 4rem;

  --overlay-ig-reel-top-offset: 3.25rem;
  --overlay-ig-reel-bottom-offset: 4rem;

  --overlay-ig-post-top-offset: 5rem;
  --overlay-ig-post-bottom-offset: 5rem;

  --overlay-bg: #ffffff;
  --overlay-bg-2: #dedede;
  --overlay-fg: #000000;
  --overlay-radius: 2em;
  --overlay-shadow: 0px 0px 20px 1px #888888;

  --overlay-font-size: 14px;
  --overlay-icon-size: 17.5px;
}
